<div style="display: inline-flex">

  <div class="container">
    <header></header>
    <!-- Do some menu items -->
    <ul style="margin-top: 100px;">
      <menu-item (click)="navigate('')">
        Index
      </menu-item>
      <menu-item (click)="navigate('characters')">
        Characters
      </menu-item>
      <menu-item (click)="navigate('items')">
        Items
      </menu-item>
      <menu-item (click)="navigate('quests')">
        Quests
      </menu-item>
      <menu-item (click)="navigate('game')">
        Game
      </menu-item>
    </ul>
  </div>

  <div class="main-content" #content>
    <ng-content></ng-content>
  </div>
</div>
