@import '../main.scss';

.container {

    background-color: $primaryColor;
    border: 1px solid $borderColor;
    border-radius: 12px
}

li {
    text-decoration: none;
}

ul {
    list-style: none;
}