//Define colors
//Colors dark to light
$color1: #111111;
$color2: #0d1526;
$color3: #1a294c;
$color4: #263d73;
$color5: #31519b;

$primaryLight: #0066BB;
$secondaryLight: #004499;
$primaryDark: #001133;
$secondaryDark: #003355;

$borderColor: #0077FF;

$bgColor: #002032;
$white: #EEEEEE;
$black: #111111;

$red: #EE0000;
$blue: #0000EE;
$green: #00EE00;
$dark: #002255;

//General
.main-container {
  background-color: $color3;
  margin: 6px;
  border-radius: 10px;
  color: $white;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: $white;
}

h2 {
  color: $white
}
