<!-- Header -->

<!--<div class="grid-x">-->
  <!--<div class="cell medium-3">-->
    <!--<menu></menu>-->
  <!--</div>-->

  <!--<div class="cell medium-9">-->
    <!--<div class='main-container'>-->

    <!--<header></header>-->

      <!--<div class="grid-x">-->
        <!--<div class="cell medium-8">-->
          <!--<router-outlet></router-outlet>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


    <menu>
          <router-outlet></router-outlet>
    </menu>
